<div class="content-login">
  <form action=""
  [formGroup]="authForm"
  class="form-inputs"
  autocomplete="off"
  (ngSubmit)="login()"
  >
    <div class="content-card-login">

      <div class="login">

        <div class="title-logo">
          <h1>Acceder</h1>
          <img src="../../../../assets/logo.png" alt="">
          <div class="content-error">
            @if(errorLogin){
              <span>{{errorLogin}}</span>
            }
          </div>
        </div>

        <div class="content-form">

          <div class="user">
            <input
            type="email"
            placeholder="Correo"
            formControlName="email"
            >
          </div>
          <div class="password">
            <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            >
          </div>


        </div>

        <div class="access-register">
          <div class="access">
            <button
            [disabled]="authForm.disabled"
            type="submit"
            >
            Acceder</button>
          </div>
          <div class="register">
            <button (click)="navigateRegister()"
            type="button"
            >
            Registrarse</button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
