<div class="content-card"
genderBook
imgBook
title
publishedDate
authors
language
id
>
@defer(){
  <div class="categorie-img">

      <span>{{genderBook?.slice(0)}}</span>

    <a href="" [routerLink]="['/books',id]">
      <img [src]="imgBook | bookImage"
      height="250" width="150"
      >
    </a>
    <div class="content-details">
        <span>{{title}}</span>
    </div>
  </div>
  <hr>
  <div class="author-price">
    <div class="authors">
      @for (author of authors; track $index) {
        <p>{{author}}</p>
      }
    </div>
    <div class="price">
      <p>{{language | uppercase}}</p>
      <span>{{publishedDate |date:'MM-YYYY' }}</span>
    </div>
  </div>

}@placeholder(minimum 400ms){
  <div class="categorie-img">
    <app-loader></app-loader>
  </div>
}

</div>
