
.content-head{

  padding: 0rem 2rem 0rem 2rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;



}
.logo{
  display: flex;
  margin-top: 5px;

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color:#75E6A4 ;
}

.navigation button{
  background-color: white;
  border-style: none;
  font-family: 'Lora';
  cursor: pointer;
}
.navigation button:hover{
  color: #75E6A4 ;
}
/* **************************** */
.content-filters{
  padding: 0rem 2rem 0rem 2rem;
  font-weight: 400;


  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  flex-wrap: wrap;

}
.content-search-book{
  height: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}
.description{

}
.content-filters p{
  font-size: 14px;
  font-style: italic;


  max-width:20rem ;
}
.navigation{

}
.navigation ul{
  display: flex;
  gap: 4rem;
}
.navigation ul li{
  list-style: none;
  cursor: pointer;
}

hr{

  margin: 0;
  border:none;
  height: 1px;
  background-color: black;

}
/* ************************ */

.content-menu-books{

}

/* ********************************  */

.content-pages{
  margin: 0;



}
